<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Create Staff
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">CREATE STAFF</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form #creStaff="ngForm" (ngSubmit)="handleStaff(creStaff.value)">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">First Name</label>
              <input type="text" class="form-control" name="firs" ngModel id="exampleInputEmail1" >
              <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Last Name</label>
              <input type="text" class="form-control" name="name_project" ngModel id="exampleInputEmail1" >
              <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Create Date</label>
              <input type="date" class="form-control" name="create_date" ngModel id="exampleInputEmail1" >
              <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Price</label>
              <input type="text" class="form-control" name="price" ngModel id="exampleInputEmail1" >
              <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
            </div>
            <div class="mb-3">
              <label  class="form-label">Leader</label>
              <select class="form-control" name="leader" ngModel>
                <option *ngFor="let staff of Staffs" value="{{staff.id}}">{{staff.last_name}} {{staff.first_name}}</option>
              </select>
            </div>
            <div class="mb-3">
              <label  class="form-label">Member</label>
              <select class="form-control" ngModel name="member" multiple size="4" >
                <option *ngFor="let staff of Staffs" value="{{staff.id}}">
                  {{staff.last_name}} {{staff.first_name}}
                </option>
              </select>
            </div>
          
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>


  <!-- table  -->
<hr>
<table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Last Name</th>
      <th scope="col">First Name</th>
      <th scope="col">Day Of Birth</th>
      <th scope="col">Sect</th>
      <th scope="col">Area</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let staff of Staffs">
      <th scope="row">{{staff.id}}</th>
      <td>{{staff.last_name}}</td>
      <td>{{staff.first_name}}</td>
      <td>{{staff.day_of_birth | date:'dd/mm/yyyy'}}</td>
      <td>{{staff.sect}}</td>
      <td>{{staff.area}}</td>
    </tr>
  </tbody>
</table>