<form #update="ngForm" (ngSubmit)="handleTask()">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Name Task</label>
      <input type="text" class="form-control" name="name_task" [(ngModel)]="data.name_task" id="exampleInputEmail1" >
    </div>
    <div class="mb-3">
      <label  class="form-label">Project</label>
      <select class="form-control" name="id_project" [(ngModel)]="data.id_project">
        <option *ngFor="let project of Projects" value="{{project.id}}">{{project.name_project}}</option>
      </select>
    </div>
    <div class="mb-3">
      <label  class="form-label">Staff</label>
      <select class="form-control" name="id_staff" [(ngModel)]="data.id_staff">
        <option *ngFor="let staff of Staffs" value="{{staff.id}}">{{staff.last_name}} {{staff.first_name}}</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Status</label><br>
     <input type="number" name="status" [(ngModel)]="data.status" class="form-control" id="">
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Priority</label><br>
     <input type="number" name="priority" [(ngModel)]="data.priority" class="form-control" id="">
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Description</label><br>
      <textarea name="description" ngModel class="form-control" id=""></textarea>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
